<section id="login">
  <div class="bwm-form">
    <div class="row">
      <div class="col-md-5">
        <h1>Login</h1>
        <div *ngIf="isRegistered" class="alert alert-success">
          <p>You have been succesfuly registered, please login in</p>
        </div>
        <form (ngSubmit)="login(loginForm)" #loginForm="ngForm">
          <div class="form-group">
            <label for="email">Email</label>
            <input #email="ngModel" [(ngModel)]="loginData.email" type="email" name="email" class="form-control" id="email"required pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$">
            <div class="alert alert-danger" *ngIf="email.invalid && (email.dirty || email.touched) && email.errors.pattern">
              Invalid Email.
            </div>
          </div>

          <div class="form-group">
            <label for="password">Password</label>
            <input [(ngModel)]="loginData.password" type="password" name="password" class="form-control" id="password" required>
          </div>
          <button [disabled]="!loginForm.form.valid" type="submit" class="btn btn-bwm">Submit</button>
        </form>
        <div *ngIf="errors.length > 0" class="alert alert-danger">
          <p *ngFor="let error of errors">
            {{error.detail}}
          </p>
        </div>
      </div>
      <div class="col-md-6 ml-auto">
        <div class="image-container">
          <h2 class="catchphrase">Hundreds of awesome places in reach of few clicks.</h2>
          <img src="assets/images/login-image.jpg" alt="">
        </div>
      </div>
    </div>
  </div>
</section>
