<section id="rentalListing">
  <h1 class="title">Your Home All Around the World</h1>
  <div class="row">
    <div *ngFor="let rental of rentals"  class='col-md-3 col-sm-6'>
      <a routerLink="{{rental.id}}">
        <div class="card bwm-card">
          <img class="card-img-top" src="{{rental.image}}" alt="">
          <div class="card-block">
            <h6 class="card-subtitle">{{rental.category}} &#183; {{rental.city}}</h6>
            <h4 class="card-title">{{rental.title}}</h4>
            <p class="card-text">${{rental.daily_rate}} per Night &#183; Free Cancelation</p>
            <a href="#" class="card-link">More Info</a>
          </div>
        </div>
      </a>
    </div>
  </div>
</section>
