@import '~bootstrap/dist/css/bootstrap.min.css';
@import 'variables';

html, body, p {
  color: $main-text-color-gray;
}

.apartment {
  color: #a72da3;
}

.condo {
  color: #d68000;
}

.house {
  color: #bf1818;
}

.btn-bwm {
  background-color: $main-color;
  border-color: $main-color;
  color: white;
  padding: 15px 30px;
  font-size: 20px;

  &:hover, &:focus, &:active {
    border-color: $main-color !important;
    background-color: $main-color !important;
  }
}

.clickable:hover {
    cursor: pointer !important;
  }

.page-title {
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 20px;
}

.btn-editable {
  font-size: 10px;
  color: white;
}

.bwm-form {
  color: $main-text-color-gray;

  form {
    margin-bottom: 10px;
  }

  .alert {
    p {
      margin: 0;
    }
  }

  h1 {
    font-weight: 700;
    margin-bottom: 30px;
  }
  .image-container {
    position: relative;

    img {
      width: 100%;
      border-radius: 5px;
    }
  }

  label {
    font-size: 12px;
  }

  .form-text {
    font-size: 13px;
  }

  .catchphrase {
    text-align: center;
    font-size: 42px;
    position: absolute;
    color: #f1f1f1;
    padding: 40px;
    background-color: rgba(0,0,0, 0.5);
    margin-top: 50px;
    letter-spacing: 1px;
  }
}

.inline {
  display: inline-block;
}

#rentalDetails {
  .upper-section {
    img {
      width: 100%;
    }

    margin-bottom: 30px;
  }

  .details-section {
    color: $main-text-color-gray;
    .rental {
      &-type {
        font-size: 14px;
        font-weight: 300;
        text-transform: uppercase;
        margin: 0;
      }

      &-title {
        margin-bottom: 5px;
        font-size: 32px;
        font-weight: 700;
      }

      &-owner {
        float: right;

        img {
          height: 50px;
          border-radius: 50%;
          display: block;
          margin: 0 auto;
        }
        span {
          display: block;
          font-size: 13px;
          font-weight: 300;
        }
      }

      &-city {
        font-size: 14px;
        font-weight: 300;
        margin-bottom: 20px;
      }

      &-street {
        font-size: 14px;
        font-weight: 300;
        margin-bottom: 20px;
      }


      &-room-info {
        margin-bottom: 20px;
        font-weight: 300;
        font-size: 16px;

        span {
          margin-right: 10px;
        }

        i {
          margin-right: 2px;
        }
      }

      &-description {
        font-weight: 300;
        margin-bottom: 30px;
      }

      &-assets {
        .title {
          margin-bottom: 10px;
          font-weight: 700;
          font-size: 22px;
        }
        span {
          display: block;
          margin-bottom: 15px;
          font-weight: 300;
        }
      }
    }
  }
}

