<section id="rentalDetails" *ngIf="rental">
  <div class="upper-section">
    <div class="row">
      <div class="col-md-6">
        <img src="{{rental.image}}" alt="">
      </div>
      <div class="col-md-6">
        <bwm-map [location]="rental.city + ', ' + rental.street"></bwm-map>
      </div>
    </div>
  </div>

  <div class="details-section">
    <div class="row">
      <div class="col-md-8">
        <bwm-rental-detail-info [rental]=rental> </bwm-rental-detail-info>
      </div>
      <div class="col-md-4">
      <bwm-rental-detail-booking [rental]=rental></bwm-rental-detail-booking>
      </div>
    </div>
  </div>
</section>
