<section id="register">
  <div class="bwm-form">
    <div class="row">
      <div class="col-md-5">
        <h1>Register</h1>
        <form>
          <div class="form-group">
            <label for="username">Username</label>
            <input type="text" class="form-control" id="username" required>
          </div>

          <div class="form-group">
            <label for="email">Email</label>
            <input type="email" class="form-control" id="email" required>
          </div>

          <div class="form-group">
            <label for="password">Password</label>
            <input type="password" class="form-control" id="password required">
          </div>

          <div class="form-group">
            <label for="confirmationPassword">Confirm Password</label>
            <input type="password" class="form-control" id="confirmationPassword" required>
          </div>

          <button type="submit" class="btn btn-bwm">Submit</button>

        </form>
      </div>
      <div class="col-md-6 ml-auto">
        <div class="image-container">
          <h2 class="catchphrase">As our member you have access to most awesome places in the world.</h2>
          <img src="assets/images/register-image.jpg" alt="">
        </div>
      </div>
    </div>
  </div>
</section>
