<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">BookWithMe</a>
  <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2 bwm-search" type="search" placeholder="Try 'New York'" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0 btn-bwm-search" type="submit">Search</button>
    </form>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav ml-auto">
      <a class="nav-item nav-link active" href="#">Login <span class="sr-only">(current)</span></a>
      <a class="nav-item nav-link" href="#">Register</a>
    </div>
  </div>
</nav>
