<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" routerLink="/rentals">BookWithMe<img src="favicon.ico" alt=""></a>
  <form class="form-inline my-2 my-lg-0">
      <input #citySearch (keyup.enter)="search(citySearch.value)" class="form-control mr-sm-2 bwm-search" type="search" placeholder="Try 'New York'" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0 btn-bwm-search"  (click)="search(citySearch.value)" type="button">Search</button>
    </form>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav ml-auto">
      <div *ngIf="auth.isAuthenticated()" class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="http://example.com" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Owner Section
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" routerLink="/rentals/new">Create Rental</a>
          <a class="dropdown-item" routerLink="/manage/rentals">Manage Rentals</a>
          <a class="dropdown-item" routerLink="/manage/bookings">Manage Bookings</a>
        </div>
      </div>
      <ng-container *ngIf="auth.isAuthenticated()">
        <a class="nav-item nav-link"> Welcome {{auth.getUsername()}}</a>
        <a class="nav-item nav-link clickable" (click)="logout()">Logout</a>
      </ng-container>
      <ng-container *ngIf="!auth.isAuthenticated()">
        <a class="nav-item nav-link active clickable" routerLink="login">Login <span class="sr-only">(current)</span></a>
        <a class="nav-item nav-link clickable" routerLink="register">Register</a>
      </ng-container>
    </div>
  </div>
</nav>
